* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

:root {
  --color--text: white;
  --border-color: 0.063rem solid #b2b2b2;
  --border-radius: 0.4rem;
  --padding-size: 1rem;
  --color-gray: #b2b2b2;
  --line-height: 1.7rem;
  --text-indent: 0.7rem;
  --margin-text: 1rem 2rem;

}

body {
  background-color: black;
  color: var(--color--text);
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer"
  ;
}

header {
  grid-area: header;
  position: relative;
  text-align: center;
  padding: 1.25rem;
  height: 21.875rem;
}

ul {
  list-style: none;
}

main {
  grid-area: main;
  width: 100%;
}

hr {
  border: 0.1rem solid #d8d8d829;
}

h3{
  text-align: center;
}

.header_img {
  height: 100%;
  background-image: url("../img/picture.jpg");
  background-size: cover;
  background-position: right;
  filter: blur(8px);
}

.header_text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  border: 0.188rem solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.content {
  grid-area: content;
  padding: var(--padding-size);
}

.card {
  background-color: black;
  color: white;
  border: var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-size);
  margin: 0px 0.313rem 0.313rem 0.625rem;
}

.section_title {
  font-size: 1.9rem;
}

.information {
  margin: var(--margin-text);
}

.description {
  margin: var(--margin-text);
}

.description p {
  text-indent: var(--text-indent);
  line-height: var(--line-height);
}

.div-skills {
  display: flex;
  flex-flow: column nowrap;
  margin: var(--margin-text);
}

.div-skills div {
  margin: var(--margin-text);
}

.div-skills ul p {
  text-indent: var(--text-indent);
  line-height: var(--line-height);
}

.studies {
  margin: var(--margin-text);
}

.studies-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: var(--margin-text);
}

.card_S {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: var(--padding-size);
  border-radius: var(--border-radius);
  border: var(--border-color);
  width: 14rem;
  height: 12rem;
}

.card_S ul {
  margin: var(--margin-text);
}

.card_S li {
  border: 1px solid var(--color--text);
  padding: 0.8rem;
  border-radius: 1rem 10rem 1rem 10rem;
}

.div_logos{
  display: grid;
  width: auto;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--padding-size);
}

.div_logos img {
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 0.2rem;
}

.arrow {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
 /*  margin: 0rem 0.5rem; */
  width: 5rem;
}

.arrow hr {
  border: 0.001rem solid rgba(255, 255, 255, 0.566);
}

footer {
  grid-area: footer;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}